.requirments_form {
  // background-color: red;

  .field {
    label {
      font-size: 16px;
    }

    .input_field {
      border: 2px solid #0000001a;
      background-color: #f8f9fa;

      outline: none;
      height: 56px;
      border-radius: 12px;
      padding: 0 10px;
      display: flex;
      align-items: center;

      input {
        outline: none;
      }
    }

    .mySelect__control {
      background-color: #f8f9fa;
      border-color: #ccc;

      border: 2px solid #0000001a;
      outline: none;
      min-height: 56px;
      border-radius: 12px;
    }

    .mySelect__menu {
      background-color: white;
      box-shadow: 0 4px 8px #0000001a;
    }

    .mySelect__multi-value {
      background-color: #e6f0ff;
    }

    position: relative;

    .use_whatsapp {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, 15%);
      cursor: pointer;
    }
  }
}